<!DOCTYPE html>
<html>

<head>
  <title>Upright</title>
  <link rel="stylesheet" href="../styles/starter.css">
  <link rel="stylesheet" href="../styles/landing.css">
</head>

<body>
  <div class="Landing app">
    <h1 class="Landing-title">Health Pal</h1>
    <h2 class="Landing-subtitle">Health companion at your laptop</h2>
    <h2 class="Landing-subtitle" id="display"></h2>
    <div class="Landing-carousel">
      <button class="Landing-leftArrow Landing-arrow" id="left-arrow"><img src="../assets/icons/bxs-left-arrow.svg" /></button>
      <div class="Landing-carouselItem" id="item-1">
        <img class="Landing-carouselImg" src="../assets/landing/landingimage1.png" />
        <p class="Landing-carouselCaption">Monitor your heart's rhythm when you use your computer.</p>
      </div>

      <div class="Landing-carouselItem">
        <img class="Landing-carouselImg" src="../assets/landing/landingimage2.png" />
        <p class="Landing-carouselCaption">Improve your posture and physical health while working on your computer.
        </p>
      </div>
      
      <div class="Landing-carouselItem">
        <img class="Landing-carouselImg" src="../assets/landing/landingimage21.png" />
        <p class="Landing-carouselCaption">Get notified if you are working longer than you should.
        </p>
      </div>
      <button class="Landing-rightArrow Landing-arrow" id="right-arrow"><img src="../assets/icons/bxs-right-arrow.svg" /></button>
    </div>
   
    <div class="Landing-carouselIndicators">
      <button class="Landing-indicator Landing-indicatorActive" id="indicator-1"></button>
      <button class="Landing-indicator" id="indicator-2"></button>
      <button class="Landing-indicator" id="indicator-3"></button>
    </div>
    <!-- <iframe src="http://localhost:8501/" frameborder="0" height="500px" width="500px"></iframe> -->
    <button class="cta Landing-cta" id="landing-next">Get Started</button>
    <button class="inline-button Landing-privacyLink">Privacy Policy</button>
  </div>
  <script src="../scripts/landing.js"></script>
</body>

</html>