<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Healthpal</title>
    <link rel="stylesheet" href="../styles/starter.css">
    <link rel="stylesheet" href="../styles/registration.css">
    

</head>

<body>
    <div class="Registration app">
        <div class="Registration-container">
            <h1 class="Registration-title" id="title">Configure Your Health Pal</h1>
            <h2 class="Registration-subtitle" id="subtitle">Don't worry - we only save this info in your local machine. 
            </h2>
            <button class="inline-button Registration-question">Help us provide you a personalized experience.</button>

            <form class="Registration-form">
                <div class="Registration-row" id="row-1">
                    <div class="Registration-inputBox">
                        <label >Height</label>
                        <input name="firstName" id="firstName" class="Registration-inputTextField">
                    </div>

                    <!-- <div class="Registration-inputBox">
                        <label for="lastName">Last Name</label>
                        <input name="lastName" id="lastName" class="Registration-inputTextField">
                    </div> -->
                </div>

                <div class="Registration-row" id="row-2">
                    <div class="Registration-inputBox">
                        <label>Weight</label>
                        <input name="email" id="email" class="Registration-inputTextField">
                    </div>
<!-- 
                    <div class="Registration-inputBox">
                        <label for="password">Password</label>
                        <input name="password" id="password" type="password" class="Registration-inputTextField">
                    </div> -->
                </div>
                    <input type="text" id="sometext">
                <div class="Registration-row" id="row-3">
                    <div class="Registration-inputBox">
                        <label for="confirmPassword">Your BMI</label>
                        <input type="text"
                            class="Registration-inputTextField" onfocus="bmicalc()">
                    </div>
                </div>

                <button class="cta Registration-cta" type="button" id="cta">Calcualte</button>
                
            </form>
            <script>
                
function bmicalc(){
var height = document.getElementById("firstName").value;
var weight = document.getElementById("email").value;

console.log(height+weight);
}
            </script>
        </div>
    </div>
    <!-- <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script> -->
    <!-- <script>
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDOiCmoUqaqOJYddH8JiDxxHR8QnjZAURc",
            authDomain: "upright-th21.firebaseapp.com",
            projectId: "upright-th21",
            storageBucket: "upright-th21.appspot.com",
            messagingSenderId: "52564962928",
            appId: "1:52564962928:web:1724b0fa750a7f04cfceb5",
            measurementId: "G-EMF7VN18XJ"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script> -->
    <script type="module" src="../scripts/registration.js"></script>
</body>

</html>